.Card {
    background-color: red;
    border:  3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    justify-content: center;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;

}


.Card .Content{
    flex-grow: 1;
    background-color: white;
    color: black;
    padding: 20px;
    
}